<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="container-fluid">
    <div style="display: flex;"><a class="btn btn-primary" routerLink="../reco-dash"
            style="margin-bottom: 10px; margin-right: 25px;">Back</a>
        <h4>Site Overview<span style="color: red; font-size: 10px; margin-left: 20px;">Last Updated On Aug 2021</span>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <table class="table table-stripped">
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star"></i></td>
                        <td><b>Mozilla</b></td>
                        <td><b>In celebration of women and girls everywhere</b></td>
                        <td></td>
                        <td>Mar 10</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Dan Glenn</td>
                        <td>[ptcuser-announcements] - PTC/USER Expert Speaker Series Webinar March 9, 2017 11AM (EST)
                        </td>
                        <td><i class="fa fa-paperclip"></i></td>
                        <td>Mar 10</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                  

                </tbody>
            </table> -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>Site Id</th>
                        <th>Tower Type</th>
                        <th>Site Address</th>
                        <th>MCD</th>
                        <th>Zone</th>
                        <th>Permission Status</th>
                        <th>Amount Adjust</th>
                        <!-- <th>Date of Permission</th>
                        <th>Date of Expiry</th>
                        <th>Permission Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ele of siteList; let i=index;">
                        <td>{{ele[2]}}</td>
                        <td>{{ele[1]}}</td>
                        <td>{{ele[3]}}</td>
                        <td>{{ele[5]}}</td>
                        <td>{{ele[6]}}</td>
                        <td>{{ele[14]}}</td>
                        <td>{{ele[15]?ele[15]:'0.00'}}</td>
                        <!-- <td>{{ele[1]}}</td>
                        <td>{{ele[1]}}</td>
                        <td>{{ele[1]}}</td> -->

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>