<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>1,15,000.00</h3>

                <p>Total Orders</p>
            </div>
            <div class="icon">
                <i class="feather-server"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>4343<sup style="font-size: 20px"></sup></h3>

                <p>Total Tower</p>
            </div>
            <div class="icon">
                <i class="feather-file-text"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>

                <p>Purchase Order</p>
            </div>
            <div class="icon">
                <i class="feather-layers"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>645</h3>

                <p>Total Pending Tower</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            
        </div>

        <div class="col-md-6">
            <div>
                <ngx-charts-pie-grid [scheme]="colorScheme" [results]="single" (select)="onSelect($event)">
                </ngx-charts-pie-grid>
            </div>
        </div>
    </div>
</div>