.side-nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100vh;
  padding: 70px 0;
  box-shadow: 1px 2px 8px 0 rgb(0 0 0 / 5%);
  width: 12%;
}
.side-nav ul{
display: flex;
flex-direction: column;
  margin: 0;
  padding: 0;
}
.side-nav ul li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0px;
  position: relative;
  padding-left: 5px;
}
.side-nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: capitalize;
  display: flex;
  width: 100%;
  padding: 3px 0;
  align-items: center;
}
.side-nav ul li a span{
  font-size: 16px;
  font-weight: 400;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-right: 10px;
}
.nav_heading{
  border-top: 1px solid #ccc;
  padding: 5px 12px !important;
  font-size: 11px;
  color: #606060;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
.nav_heading  span{
  font-size: 16px;
  font-weight: 400;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  /* margin-right: 10px; */
}
.nav_menu_listings{
  padding-left:2rem;
}
.show-sub-menu{
  display: block !important;
}
.nav_menu_listings li::after{
  content:'';
  position: absolute;
    width: 5px;
    height: 5px;
    background: #10355b;
    border-radius: 29px;
    left: -4px;
    top: 7px;
    display: block;
    opacity: .6;
}