<aside class="side-nav">
    <ul>
        <li class="nav_heading" style="font-size:20px;">
            <span class="feather-home"></span> Welcome: <b style="color:red">Admin</b>
        </li>
        <li class="nav_heading" (click)="showActiveMenu('Dashboard')">
            <span class="feather-users"></span> Dashboard
        </li>
        <div class="nav_menu_listings" *ngIf="menuType === 'Dashboard'">
            <li>
                <a routerLink="dash">MCD Dashboard.</a>
            </li>
            <!-- <li>
                <a routerLink="indus-dash">Indus Dashboard.</a>
            </li>
            <li>
                <a routerLink="vendor-dash">Vendor Dashboard.</a>
            </li> -->
        </div>

        <li class="nav_heading" (click)="showActiveMenu('Master')">
            <span class="feather-file"></span> Master
        </li>
        <div class="nav_menu_listings" *ngIf="menuType === 'Master'">
            <li>
                <a routerLink="built-add">New Build</a>
            </li>
            <li>
                <a routerLink="built-list">Build List</a>
            </li>
            <li>
                <a routerLink="reco-add">Reco Site</a>
            </li>
            <li>
                <a routerLink="reco-list">Reco List</a>
            </li>
        </div>

        <li class="nav_heading" (click)="showActiveMenu('reco')">
            <span class="feather-archive"></span> Reco
        </li>
        <div class="nav_menu_listings" *ngIf="menuType === 'reco'">
            <li>
                <a routerLink="reco-dash">Reco Dashboard</a>
            </li>
            <li>
                <a routerLink="reco-north-mcd">North MCD</a>
            </li>
            <li>
                <a routerLink="reco-south-mcd">South MCD</a>
            </li>
            <li>
                <a routerLink="reco-east-mcd">East MCD</a>
            </li>

        </div>

        <li class="nav_heading" (click)="showActiveMenu('new-build')">
            <span class="feather-archive"></span> New Build
        </li>
        <div class="nav_menu_listings" *ngIf="menuType === 'new-build'">
            <li>
                <a routerLink="new-build-dash">New build Dashboard</a>
            </li>
            <!-- <li>
                <a routerLink="new-build-north-mcd">North MCD</a>
            </li>
            <li>
                <a routerLink="new-build-south-mcd">South MCD</a>
            </li>
            <li>
                <a routerLink="new-build-east-mcd">East MCD</a>
            </li> -->

        </div>


        <li class="nav_heading" (click)="showActiveMenu('Reports')">
            <span class="feather-alert-triangle"></span> Reports
        </li>
        <!-- <div class="nav_menu_listings" *ngIf="menuType === 'Reports'">
            <li>
                <a>Materials Stock</a>
            </li>
            <li>
                <a>Complaints</a>
            </li>
            <li>
                <a>Team Activities</a>
            </li>
        </div> -->


        <li class="nav_heading" (click)="showActiveMenu('Indus Finance')">
            <span class="feather-archive"></span> Indus Finance
        </li>
        <div class="nav_menu_listings" *ngIf="menuType === 'Indus Finance'">
            <li>
                <a>Purchase Order</a>
            </li>
        </div>


    </ul>
</aside>