.navbar {
    /* left: 200px; */
    position: none;
}

.logo {
    position: relative;
    width: 30%;
}

.logo a img {
    width: 186px;
    position: absolute;
    top: -30px;
    left: -20px;
}

.logo-2 {
    position: relative;
    width: 20%;
    /* left: 10%; */
    height: 40px;
    overflow: hidden;
    /* margin: 0; */
    /* padding: 0; */
}

.logo-2 img {
    width: 100px;
    position: relative;
    top: -21px;
    left: 90px;
}