<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="logo">
        <a routerLink="/home"><img src="../../../assets/img/logo.png"> </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li style="text-decoration: node; background: none; color:white; margin-left: 190px;">
                Date: {{now | date}} Time: {{now | date:'HH:mm:ss'}}
            </li>
        </ul>
        <div class="logo-2">
            <img src="../../../assets/img/download.png">
        </div>
        <form class="form-inline my-2 my-lg-0">
            <a routerLink="/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
        </form>
    </div>
</nav>