<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- <table class="table table-stripped">
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star"></i></td>
                        <td><b>Mozilla</b></td>
                        <td><b>In celebration of women and girls everywhere</b></td>
                        <td></td>
                        <td>Mar 10</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Dan Glenn</td>
                        <td>[ptcuser-announcements] - PTC/USER Expert Speaker Series Webinar March 9, 2017 11AM (EST)
                        </td>
                        <td><i class="fa fa-paperclip"></i></td>
                        <td>Mar 10</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><i class="fa fa-star-o"></i></td>
                        <td>Jetpack</td>
                        <td>Announcing some highly requested improvements and our new affiliate program</td>
                        <td></td>
                        <td>Mar 08</td>
                    </tr>
                  

                </tbody>
            </table> -->

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>

                        <th>MCD</th>
                        <th>Zone</th>
                        <th>Site Renewal</th>
                        <th>Total Fee-payable</th>
                        <th>Payable Month</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ele of siteList; let i=index;">

                        <td>{{ele.mcd}}</td>
                        <td>{{ele.final_zone}}</td>
                        <td>{{'234'}}</td>
                        <td>{{ele.amount_adjust?ele.amount_adjust:'0.00'}}</td>
                        <td>June</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>