<div class="container-fluid">
    <form [formGroup]="RecoForm" (ngSubmit)="onSubmitRecoForm()">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class=" box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Reco Details</h3>
                            <h6 class="box-title"> Legal & Acquisition department</h6>
                        </div>
                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Site Id <span style="color: red;">*</span> </label>
                                        <select formControlName="Site_Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && RecoFormControl.Site_Id.errors }">
                                            <option value="0">IN-1320504</option>
                                            <option value="1">IN-1320505</option>
                                            <option value="1">IN-1320506</option>
                                            <option value="1">IN-1320507</option>
                                        </select>
                                        <div *ngIf="submitted && RecoFormControl.Site_Id.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.Site_Id.errors.required">
                                                Site Id is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Zone <span style="color: red;">*</span> </label>
                                        <select formControlName="Zone" class="form-control" [ngClass]="{ 'is-invalid': submitted && RecoFormControl.Zone.errors }">
                                            <option value="0">Rajouri Garden</option>
                                            <option value="1">CP Site</option>
                                            <option value="1">Mayur Vihar</option>
                                            <option value="1">Karol Bagh</option>
                                            <option value="1">Rohini</option>
                                        </select>
                                        <div *ngIf="submitted && RecoFormControl.Zone.errors" class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.Zone.errors.required">
                                                Zone is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p> Upload documents</p>
                                    <div class="table_wrapper ">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th nowrap>Document type</th>
                                                    <th nowrap>Renewal Date</th>
                                                    <th nowrap>View</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th nowrap>SSC</th>
                                                    <td nowrap>12-09-2021</td>
                                                    <td nowrap><a
                                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                                class="fa fa-eye" aria-hidden="true"></i> </a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Tower Design</th>
                                                    <td nowrap>12-09-2021</td>
                                                    <td nowrap><a
                                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                                class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>LOP</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="lop_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.lop_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.lop_date.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.lop_date.errors.required">
                                                                LOP is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="lop"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.lop.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.lop.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.lop.errors.required">
                                                                LOP is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Site Photo(is applicable)</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="site_photo_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.site_photo_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.site_photo_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="RecoFormControl.site_photo_date.errors.required">
                                                                Site Photo(is applicable) is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="site_photo"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.site_photo.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.site_photo.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.site_photo.errors.required">
                                                                Site Photo(is applicable) is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>SAFC(if applicable)</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="safc_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.safc_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.safc_date.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.safc_date.errors.required">
                                                                SAFC(if applicable) is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="safc"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.safc.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.safc.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.safc.errors.required">
                                                                SAFC(if applicable) is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Rent Agreement</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="rent_agree_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.rent_agree_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.rent_agree_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="RecoFormControl.rent_agree_date.errors.required">
                                                                Rent Agreement is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="rent_agree"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.rent_agree.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.rent_agree.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.rent_agree.errors.required">
                                                                Rent Agreement is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Owner NOC</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="owner_noc_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.owner_noc_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.owner_noc_date.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.owner_noc_date.errors.required">
                                                                Owner NOc is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="owner_noc"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.owner_noc.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.owner_noc.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="RecoFormControl.owner_noc.errors.required">
                                                                Owner NOc is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Property papers</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="property_papers_date"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.property_papers_date.errors }">
                                                        <div *ngIf="submitted && RecoFormControl.property_papers_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="RecoFormControl.property_papers_date.errors.required">
                                                                Property papers is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="property_papers"
                                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.property_papers.errors }">
                                                        <div *ngIf="submitted &&  RecoFormControl.property_papers.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="RecoFormControl.property_papers.errors.required">
                                                                Property papers is required</div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p>print Document</p>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Fee payable </label>
                                        <input type="text" placeholder="Enter Fee payable" formControlName="Fee_payable"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.Fee_payable.errors }">
                                        <div *ngIf="submitted && RecoFormControl.Fee_payable.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.Fee_payable.errors.required">
                                                Fee payable is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">File submission acknowledgement
                                        </label>
                                        <input type="file" formControlName="submission_ack" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.submission_ack.errors }">
                                        <div *ngIf="submitted && RecoFormControl.submission_ack.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.submission_ack.errors.required">
                                                File submission acknowledgement is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Estimated date of receiving
                                            permission </label>
                                        <input type="date" formControlName="estimated_date" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.estimated_date.errors }">

                                        <div *ngIf="submitted && RecoFormControl.estimated_date.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.estimated_date.errors.required">
                                                Estimated date is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Uploaded permission copy </label>
                                        <input type="file" formControlName="permission_img" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.permission_img.errors }">
                                        <div *ngIf="submitted && RecoFormControl.permission_img.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.permission_img.errors.required">
                                                Uploaded permission copy is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Permission pending reminder </label>
                                        <textarea type="text" placeholder="Enter Permission pending reminder"
                                            formControlName="pending_reminder" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && RecoFormControl.pending_reminder.errors }">
                                       </textarea>
                                        <div *ngIf="submitted && RecoFormControl.pending_reminder.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="RecoFormControl.pending_reminder.errors.required">
                                                Ingredient description is required</div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="col-md-4">
                                <div class="btn">
                                    <input type="submit" class="btn btn-success" value="submit">
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>