<div class="container-fluid">
    <section class="content-body">
        <section class="content manage_padding_for_list">
            <form method="post">
                <div class="box">
                    <div class="box box-primary">
                        <div class="filter_wrapper m-0">
                            <div class="col-md-6">
                                <h3 class="box-title">Reco List</h3>
                            </div>
                        </div>
                        <div class="table_wrapper ">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th nowrap>Site Id</th>
                                        <th nowrap>Zone</th>
                                        <th nowrap>SSC</th>
                                        <th nowrap>Tower design</th>
                                        <th nowrap>LOP</th>
                                        <th nowrap>Site photo </th>
                                        <th nowrap>SAFC </th>
                                        <th nowrap>Rent Agreement</th>
                                        <th nowrap>Owner NOC</th>
                                        <th nowrap>Property papers</th>
                                        <th nowrap>Permission copy </th>

                                        <th nowrap>Acknowledgement File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td nowrap>KB234</td>
                                        <td nowrap>Karol Bagh</td>

                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap>RC234</td>
                                        <td nowrap>Chandni Chowk</td>

                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap>RG234</td>
                                        <td nowrap>Rajori Garden</td>

                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap>NV234</td>
                                        <td nowrap>Nirman Vihar</td>

                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </form>

        </section>
    </section>
</div>