<div class="container-fluid">
    <form [formGroup]="NewBuildForm" (ngSubmit)="onSubmitNewBuildForm()">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class=" box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"> New Build</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Site Id <span style="color: red;"></span></label>
                                        <select formControlName="Site_Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.Site_Id.errors }">
                                            <option value="0">IN-1320504</option>
                                            <option value="1">IN-1320505</option>
                                            <option value="1">IN-1320506</option>
                                            <option value="1">IN-1320507</option>
                                        </select>

                                        <div *ngIf="submitted &&NewBuildFormControl.Site_Id.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="NewBuildFormControl.Site_Id.errors.required">
                                                Site Id is required</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label content-label">Zone </label>
                                        <select formControlName="Zone" class="form-control" [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.Zone.errors }">
                                            <option value="0">Rajouri Garden</option>
                                            <option value="1">CP Site</option>
                                            <option value="1">Mayur Vihar</option>
                                            <option value="1">Karol Bagh</option>
                                            <option value="1">Rohini</option>
                                        </select>
                                        <div *ngIf="submitted && NewBuildFormControl.Zone.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="NewBuildFormControl.Zone.errors.required">
                                                Zone is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <p> Documents</p>
                                    <div class="table_wrapper ">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th nowrap>Document type</th>
                                                    <th nowrap>Renewal Date</th>
                                                    <th nowrap>View</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th nowrap>SSC</th>
                                                    <td nowrap>12-09-2022</td>
                                                    <td nowrap><a
                                                     href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                                class="fa fa-eye" aria-hidden="true"></i> </a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Tower Design</th>
                                                    <td nowrap>12-09-2022</td>
                                                    <td nowrap><a
                                                    href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                                class="fa fa-eye" aria-hidden="true"></i> </a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>LOP</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="lop_date"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.lop_date.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.lop_date.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="NewBuildFormControl.lop_date.errors.required">
                                                                LOP is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="lop"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.lop.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.lop.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="NewBuildFormControl.lop.errors.required">
                                                                LOP is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Rent Agreement</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="rent_agree_date"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.rent_agree_date.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.rent_agree_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="NewBuildFormControl.rent_agree_date.errors.required">
                                                                Rent Agreement is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="rent_agree"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.rent_agree.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.rent_agree.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="NewBuildFormControl.rent_agree.errors.required">
                                                                Rent Agreement is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Owner NOc</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="owner_noc_date"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.owner_noc_date.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.owner_noc_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="NewBuildFormControl.owner_noc_date.errors.required">
                                                                Owner NOc is required</div>
                                                        </div>

                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="owner_noc"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.owner_noc.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.owner_noc.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="NewBuildFormControl.owner_noc.errors.required">
                                                                Owner NOc is required</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th nowrap>Property papers</th>
                                                    <td nowrap> <input type="date" class="form-control"
                                                            formControlName="property_papers_date"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.property_papers_date.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.property_papers_date.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="NewBuildFormControl.property_papers_date.errors.required">
                                                                Property papers is required</div>
                                                        </div>
                                                    </td>
                                                    <td nowrap> <input type="file" class="form-control"
                                                            formControlName="property_papers"
                                                            [ngClass]="{ 'is-invalid': submitted && NewBuildFormControl.property_papers.errors }">
                                                        <div *ngIf="submitted && NewBuildFormControl.property_papers.errors"
                                                            class="invalid-feedback">
                                                            <div
                                                                *ngIf="NewBuildFormControl.property_papers.errors.required">
                                                                Property papers is required</div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="col-md-4">
                                <div class="btn">
                                    <input type="submit" class="btn btn-success" value="submit">
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>