<div class="container-fluid">
    <section class="content-body">
        <!-- <app-bread-crumb></app-bread-crumb> -->
        <section class="content manage_padding_for_list">
            <form method="post">
                <div class="box">
                    <div class="box box-primary">
                        <div class="filter_wrapper m-0">
                            <div class="col-md-6">
                                <h3 class="box-title">Build List</h3>
                            </div>
                        </div>
                        <div class="table_wrapper ">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th nowrap>Site Id</th>
                                        <th nowrap>Zone</th>
                                        <th nowrap>Tower Type</th>
                                        <th nowrap>SSC</th>
                                        <th nowrap>Tower design</th>
                                        <th nowrap>LOP</th>

                                        <th nowrap>Rent Agreement</th>
                                        <th nowrap>Owner NOC</th>
                                        <th nowrap>Property papers</th>
                                        <!-- <th nowrap>Permission copy </th>
                                        <th nowrap>Acknowledgement File </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td nowrap>IN-1244565</td>
                                        <td nowrap>Karol Bagh</td>
                                        <td nowrap>GBM</td>

                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>

                                        <!-- <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td>
                                        <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td nowrap> IN-1114323</td>
                                        <td nowrap>Rajouri Garden</td>
                                        <td nowrap>GBM</td>

                                        <td nowrap><a
                                                href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                                href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>

                                        <!-- <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td>
                                        <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td nowrap>IN-1375422</td>
                                        <td nowrap>Shahadara North</td>
                                        <td nowrap>RTP</td>

                                       
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>

                                        <!-- <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td>
                                        <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td nowrap>IN-1007743
                                        </td>
                                        <td nowrap>Civil Lines</td>
                                        <td nowrap>RTP</td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap><a
                                            href="../../../assets\pdf\JD FrontEnd Vue - Short(1).pdf" target="_blank"><i
                                            class="fa fa-eye" aria-hidden="true"></i> </a>

                                        </td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>
                                        <td nowrap>N/A</td>

                                        <!-- <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td>
                                        <td nowrap><a
                                                href="https://img.freepik.com/free-icon/jpg-extension_318-1831.jpg?size=338&ext=jpg"><i
                                                    class="fa fa-eye" aria-hidden="true"></i> </a> view Photo

                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </form>

        </section>
    </section>
</div>