<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>North MCD Overview Counts</h3>

            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>779</h3>

                                <p>Total Sites</p>
                            </div>
                            <div class="icon">
                                <i class="feather-server"></i>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Dismantled">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>31<sup style="font-size: 20px"></sup></h3>

                                <p>Dismantled</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Not in MCD">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>579<sup style="font-size: 20px"></sup></h3>

                                <p>Old Permissions</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Permission Pending">

                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3>98</h3>

                                <p>Fresh Permission</p>
                            </div>
                            <div class="icon">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Old Permission">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>60</h3>

                                <p>Permission Pending</p>
                            </div>
                            <div class="icon">
                                <i class="feather-layers"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Fresh Permission">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>123</h3>

                                <p>Old G8 Pending</p>
                            </div>
                            <div class="icon">
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>East MCD Summary</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showDataLabel]="true" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>

    <hr>


    <div class="row">
        <!-- <div class="col-md-6">
            <h3> East MCD Financial Summary</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="financialData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel2">
            </ngx-charts-bar-vertical>
        </div> -->
        <div class="col-md-6">
            <h3>East MCD Fund Utilization Summary</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="overViewData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend2" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
            </ngx-charts-bar-vertical>
        </div>

    </div>
</div>