<div class="container-fluid">
  <div class="row-new">
    <div class="col-md-4 ">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="logo-2">
                <img src="../../../assets/img/download.png">
              </div>
              <h6 style="font-weight: bold; font-size:17px; font-style: italic;"></h6>
              <form autocomplete="off">
                <div class="form-group mb-3">
                  <label for="email">Email/Username</label>
                  <input name="email" type="email" [(ngModel)]="email" placeholder="Email address" required=""
                    autofocus="" class="form-control  border-0 shadow-sm px-4">
                </div>
                <div class="form-group mb-3">
                  <label for="password">Password</label>
                  <input name="password" type="password" [(ngModel)]="password" placeholder="Password" required=""
                    class="form-control border-0 shadow-sm px-4 text-success">
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input id="customCheck1" type="checkbox" class="custom-control-input">
                  <label for="customCheck1" class="custom-control-label" style="font-size: 12px;">Remember password
                    <a href="" class="text">Forget password?</a>
                  </label>
                </div>
                <a (click)="login()" type="submit" class="btn btn-success  text-uppercase mb-4  shadow-sm">Sign in</a>

              </form>
              <h6 style="font-size: 15px;">Don't have an account?
                <a routerLink="/home" style="color: green;">Signup</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6  bg-image"></div>
  </div>
</div>