body {
  margin: 0px;
}

.login, .image {
  height: 500px;
}

.bg-image {
  margin-top: 110px;
  background-size: cover;
  background-image: url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2018/04/27/676259-telecom-sector-111417-01.jpg");
  background-position-x: right;
}

.text {
  justify-content: end;
  float: right;
  margin-left: 120px;
  color: grey;
}

.input {
  background-color: white;
}

.row-new {
  margin: 0 5% 0 18%;
  display: flex;
  flex: 40%;
}

.col-md-4 {
  height: 500px;
  margin-top: 110px;
  background-color: white;
  border: 0.5px solid lightsteelblue;
}

.col {
  margin: 0 30px 0 30px;
}