<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>North MCD Overview Counts</h3>

            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>1684</h3>

                                <p>Total Sites</p>
                            </div>
                            <div class="icon">
                                <i class="feather-server"></i>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Dismantled">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>94<sup style="font-size: 20px"></sup></h3>

                                <p>Dismantled</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Not in MCD">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>881<sup style="font-size: 20px"></sup></h3>

                                <p>Old Permissions</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Permission Pending">

                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3>432</h3>

                                <p>Fresh Permission</p>
                            </div>
                            <div class="icon">
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Old Permission">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>274</h3>

                                <p>Permission Pending</p>
                            </div>
                            <div class="icon">
                                <i class="feather-layers"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a routerLink="/home/site/Fresh Permission">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>123</h3>

                                <p>Pole Site Before 2016</p>
                            </div>
                            <div class="icon">
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>North MCD Summary 1</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>

    <ng-template #modalData let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">MCD Wise Permission Status</h4>
            <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button> -->
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Indus Id</th>
                        <th scope="col">Tower Type</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date of Installation</th>
                        <th scope="col" *ngIf="!isDismantled">Permission Type</th>
                        <th scope="col" *ngIf="!isDismantled && !isOldPermission">Amount Adjusted</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ele of rendringData; let i = index;">
                        <td>{{ele.sno}}</td>
                        <th scope="row">{{ele.indus_id | uppercase}}</th>
                        <td>{{ele.tower_type}}</td>
                        <td>{{ele.address | titlecase}}</td>
                        <td>{{ele.date_of_installation | titlecase}}</td>
                        <td *ngIf="!isDismantled">{{ele.permission_type }}</td>
                        <td *ngIf="!isDismantled && !isOldPermission">{{ele.amount_adjust | titlecase}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h3>North MCD Summary 2</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multi2" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3> North MCD Financial Summary</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="financialData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel2">
            </ngx-charts-bar-vertical>
        </div>
        <div class="col-md-6">
            <h3>North MCD Fund Utilization Summary</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="overViewData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
            </ngx-charts-bar-vertical>
        </div>

    </div>
</div>