<app-header></app-header>
<div class="row" style="opacity: 0.7;">
    <div class="col-md-2">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-10">
    <section class="content-body">
        <router-outlet></router-outlet>
    </section>
    </div>
</div>

<footer></footer>