<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Overview Summary</h3>

            <div class="row" style="">
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>4443</h3>

                                <p>Total Sites</p>
                            </div>
                            <div class="icon">
                                <i class="feather-server"></i>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Dismantled">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>310<sup style="font-size: 20px"></sup></h3>

                                <p>Dismantled</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Not in MCD">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>37<sup style="font-size: 20px"></sup></h3>

                                <p>Not in MCD</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Old Permission">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>2294</h3>

                                <p>Sites With Permission</p>
                            </div>
                            <div class="icon">
                                <i class="feather-layers"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Fresh Permission">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>1802</h3>

                                <p>Balance Permission Required</p>
                            </div>
                            <div class="icon">
                                <!-- <i class="ion ion-pie-graph"></i> -->
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Permission Pending">

                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3>1376</h3>

                                <p>Fresh Permission RECO</p>
                            </div>
                            <div class="icon">
                                <!-- <i class="ion ion-pie-graph"></i> -->
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="">
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>423</h3>

                                <p>Balance Site Pending Permissions</p>
                            </div>
                            <div class="icon">
                                <i class="feather-server"></i>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Dismantled">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>175<sup style="font-size: 20px"></sup></h3>

                                <p>Pole Sites on hold by Indus</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-xs-12">
                    <a routerLink="/home/site/Not in MCD">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>248<sup style="font-size: 20px"></sup></h3>

                                <p>Net Permission Pending</p>
                            </div>
                            <div class="icon">
                                <i class="feather-file-text"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>90%</h3>

                            <p>Work Completed</p>
                        </div>
                        <div class="icon">
                            <i class="feather-server"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>10%<sup style="font-size: 20px"></sup></h3>

                            <p>Work Pending</p>
                        </div>
                        <div class="icon">
                            <i class="feather-file-text"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>MCD Reconcilation Summary</h3>
            <ngx-charts-bar-vertical [view]=[500,400] [scheme]="colorScheme" [results]="overViewData"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <hr>
    <h3 style="color: red;">North MCD</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="pie-heading">
                <h5>Permission Summary</h5><span>Tot. Sites: 1684</span>
            </div>
            <ngx-charts-pie-chart [view]=[600,300] [scheme]="colorScheme" [results]="northMCDData" [gradient]="gradient"
                [doughnut]=true [doughnut]=true [legend]="true" [legendPosition]="legendPosition" [labels]="showLabels"
                (select)="OnSelectPieChart($event)" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
        <div class="col-md-6">
            <h5>Financial Summary</h5>
            <ngx-charts-bar-vertical [view]=[600,300] [scheme]="colorScheme" [results]="financialData"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel1" [yAxisLabel]="'Fund'">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" [hidden]="isNorthMCDTable">
        <div class="col-md-12">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr class="table_last_row" style="text-align: center; background:lavender;">
                        <th colspan="12">Permission Summary</th>
                        <!-- <th colspan="9">Financial Summary</th> -->
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <th scope="col">Total Sites</th>
                        <th scope="col">Dismantled</th>
                        <th scope="col">Active Sites</th>
                        <th scope="col">Old Permission</th>
                        <th scope="col">Fresh Permission</th>
                        <th scope="col">Old & Fresh Permission</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Permission Pending</th>
                        <th scope="col">Pole Sites</th>
                        <th scope="col">Net Permission</th>
                        <th scope="col">Old G8 Pending</th>
                        <!-- <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>City SP</th>
                        <td>266</td>
                        <td>7</td>
                        <td>259</td>
                        <td>185</td>
                        <td>73</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <!-- <td rowspan="6" style="vertical-align: middle;">51250000</td>
                        <td rowspan="6" style="vertical-align: middle;">51250000</td>
                        <td rowspan="6" style="vertical-align: middle;">40700565</td>
                        <td rowspan="6" style="vertical-align: middle;">143200565</td>
                        <td>8070000</td>
                        <td rowspan="6" style="vertical-align: middle;">56910565</td> -->

                    </tr>
                    <tr>
                        <th>Civil Lines</th>
                        <td>266</td>
                        <td>5</td>
                        <td>221</td>
                        <td>87</td>
                        <td>75</td>
                        <td>2</td>
                        <td>0</td>
                        <td>57</td>
                        <td>32</td>
                        <td>25</td>
                        <td>2</td>
                        <!-- <td>18290000</td> -->


                    </tr>
                    <tr>
                        <th>Karol Bagh</th>
                        <td>344</td>
                        <td>19</td>
                        <td>325</td>
                        <td>208</td>
                        <td>61</td>
                        <td>0</td>
                        <td>0</td>
                        <td>56</td>
                        <td>47</td>
                        <td>9</td>
                        <td>8</td>
                        <!-- <td>16640000</td> -->

                    </tr>


                    <tr>
                        <th>Keshavpuram</th>
                        <td>288</td>
                        <td>34</td>
                        <td>254</td>
                        <td>125</td>
                        <td>100</td>
                        <td>1</td>
                        <td>0</td>
                        <td>28</td>
                        <td>13</td>
                        <td>15</td>
                        <td>0</td>
                        <!-- <td>21610000</td> -->

                    </tr>
                    <tr>
                        <th>Narela</th>
                        <td>250</td>
                        <td>7</td>
                        <td>243</td>
                        <td>119</td>
                        <td>57</td>
                        <td>0</td>
                        <td>0</td>
                        <td>67</td>
                        <td>2</td>
                        <td>65</td>
                        <td>0</td>
                        <!-- <td>5050000</td> -->


                    </tr>
                    <tr>
                        <th>Rohini</th>
                        <td>310</td>
                        <td>22</td>
                        <td>288</td>
                        <td>157</td>
                        <td>66</td>
                        <td>0</td>
                        <td>0</td>
                        <td>65</td>
                        <td>23</td>
                        <td>42</td>
                        <td>4</td>
                        <!-- <td>16630000</td> -->

                    </tr>
                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>
                        <th>1684</th>
                        <th>94</th>
                        <th>1590</th>
                        <th>881</th>
                        <th>432</th>
                        <th>3</th>
                        <th>0</th>
                        <th>274</th>
                        <th>117</th>
                        <th>157</th>
                        <th>14</th>
                        <!-- <th>5125000</th>
                        <th>5125000</th>
                        <th>40700565</th>
                        <th>143200565</th>
                        <th>86290000</th>
                        <th>56910565</th> -->
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;" [hidden]="isNorthMCDTable">
        <div class="col-md-12">
            <table class="table table-striped table_last_row_2" style="text-align: center;">
                <thead>
                    <tr style="text-align: center; background:lavender;">
                        <th colspan="9">Financial Summary</th>
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>City SP</th>
                        <td rowspan="6" style="vertical-align: middle;">51250000</td>
                        <td rowspan="6" style="vertical-align: middle;">51250000</td>
                        <td rowspan="6" style="vertical-align: middle;">40700565</td>
                        <td rowspan="6" style="vertical-align: middle;">143200565</td>
                        <td>8070000</td>
                        <td rowspan="6" style="vertical-align: middle;">56910565</td>

                    </tr>
                    <tr>
                        <th>Civil Lines</th>
                        <td>18290000</td>


                    </tr>
                    <tr>
                        <th>Karol Bagh</th>

                        <td>16640000</td>

                    </tr>


                    <tr>
                        <th>Keshavpuram</th>

                        <td>21610000</td>

                    </tr>
                    <tr>
                        <th>Narela</th>

                        <td>5050000</td>


                    </tr>
                    <tr>
                        <th>Rohini</th>

                        <td>16630000</td>

                    </tr>
                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>

                        <th>5125000</th>
                        <th>5125000</th>
                        <th>40700565</th>
                        <th>143200565</th>
                        <th>86290000</th>
                        <th>56910565</th>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <h3 style="color: red;">South MCD</h3>
    <div class="row">

        <div class="col-md-6">
            <div class="pie-heading">
                <h5>Permission Summary</h5><span>Tot. Sites: 1943</span>
            </div>
            <ngx-charts-pie-chart [view]=[600,300] [scheme]="colorScheme" [results]="southMCDData" [gradient]="gradient"
                (select)="OnSelectPieChart1($event)" [legend]="true" [legendPosition]="legendPosition"
                [labels]="showLabels" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
        <div class="col-md-6">
            <h5>Financial Summary</h5>
            <ngx-charts-bar-vertical [view]=[600,300] [scheme]="colorScheme" [results]="financialData2"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel1" [yAxisLabel]="'Fund'">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" [hidden]="isSouthMCDTable">
        <div class="col-md-12">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr class="table_last_row" style="text-align: center; background:lavender;">
                        <th colspan="12">Permission Summary</th>
                        <!-- <th colspan="9">Financial Summary</th> -->
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <th scope="col">Total Sites</th>
                        <th scope="col">Dismantled</th>
                        <th scope="col">Active Sites</th>
                        <th scope="col">Old Permission</th>
                        <th scope="col">Fresh Permission</th>
                        <th scope="col">Old & Fresh Permission</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Permission Pending</th>
                        <th scope="col">Pole Sites</th>
                        <th scope="col">Net Permission</th>
                        <th scope="col">Old G8 Pending</th>
                        <!-- <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Green park</th>
                        <td>593</td>
                        <td>77</td>
                        <td>516</td>
                        <td>174</td>
                        <td>209</td>
                        <td>4</td>
                        <td>0</td>
                        <td>129</td>
                        <td>89</td>
                        <td>40</td>
                        <td>17</td>
                        <!-- <td rowspan="4" style="vertical-align: middle;">127200000</td>
                        <td rowspan="4" style="vertical-align: middle;">127200000</td>
                        <td rowspan="4" style="vertical-align: middle;">101016817</td>
                        <td rowspan="4" style="vertical-align: middle;">355416817</td>
                        <td>38520000</td>
                        <td rowspan="4" style="vertical-align: middle;">223726817</td> -->

                    </tr>
                    <tr>
                        <th>Lajpat Nagar</th>
                        <td>529</td>
                        <td>51</td>
                        <td>478</td>
                        <td>182</td>
                        <td>214</td>
                        <td>3</td>
                        <td>0</td>
                        <td>79</td>
                        <td>39</td>
                        <td>40</td>
                        <td>11</td>
                        <!-- <td>32320000</td> -->


                    </tr>
                    <tr>
                        <th>Najafgarh</th>
                        <td>368</td>
                        <td>11</td>
                        <td>357</td>
                        <td>258</td>
                        <td>74</td>
                        <td>4</td>
                        <td>1</td>
                        <td>20</td>
                        <td>16</td>
                        <td>4</td>
                        <td>1</td>
                        <!-- <td>14150000</td> -->

                    </tr>


                    <tr>
                        <th>Rajori Garder</th>
                        <td>453</td>
                        <td>45</td>
                        <td>480</td>
                        <td>193</td>
                        <td>191</td>
                        <td>11</td>
                        <td>0</td>
                        <td>13</td>
                        <td>10</td>
                        <td>3</td>
                        <td>4</td>
                        <!-- <td>46700000</td> -->

                    </tr>

                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>
                        <th>1943</th>
                        <th>184</th>
                        <th>1759</th>
                        <th>807</th>
                        <th>688</th>
                        <th>22</th>
                        <th>1</th>
                        <th>241</th>
                        <th>154</th>
                        <th>87</th>
                        <th>33</th>
                        <!-- <th>127200000</th>
                        <th>127200000</th>
                        <th>101016817</th>
                        <th>355416817</th>
                        <th>131690000</th>
                        <th>223726817</th> -->
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" [hidden]="isSouthMCDTable">
        <div class="col-md-12">
            <table class="table table-striped table_last_row_2" style="text-align: center;">
                <thead>
                    <tr class="" style="text-align: center; background:lavender;">
                        <!-- <th colspan="9">Permission Summary</th> -->
                        <th colspan="9">Financial Summary</th>
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <!-- <th scope="col">Total Sites</th>
                        <th scope="col">Dismantled</th>
                        <th scope="col">Active Sites</th>
                        <th scope="col">Old Permission</th>
                        <th scope="col">Fresh Permission</th>
                        <th scope="col">Old & Fresh Permission</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Permission Pending</th>
                        <th scope="col">Pole Sites</th>
                        <th scope="col">Net Permission</th>
                        <th scope="col">Old G8 Pending</th> -->
                        <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Green park</th>
                        <!-- <td>593</td>
                        <td>77</td>
                        <td>516</td>
                        <td>174</td>
                        <td>209</td>
                        <td>4</td>
                        <td>0</td>
                        <td>129</td>
                        <td>89</td>
                        <td>40</td>
                        <td>17</td> -->
                        <td rowspan="4" style="vertical-align: middle;">127200000</td>
                        <td rowspan="4" style="vertical-align: middle;">127200000</td>
                        <td rowspan="4" style="vertical-align: middle;">101016817</td>
                        <td rowspan="4" style="vertical-align: middle;">355416817</td>
                        <td>38520000</td>
                        <td rowspan="4" style="vertical-align: middle;">223726817</td>

                    </tr>
                    <tr>
                        <th>Lajpat Nagar</th>
                        <!-- <td>529</td>
                        <td>51</td>
                        <td>478</td>
                        <td>182</td>
                        <td>214</td>
                        <td>3</td>
                        <td>0</td>
                        <td>79</td>
                        <td>39</td>
                        <td>40</td>
                        <td>11</td> -->
                        <td>32320000</td>


                    </tr>
                    <tr>
                        <th>Najafgarh</th>
                        <!-- <td>368</td>
                        <td>11</td>
                        <td>357</td>
                        <td>258</td>
                        <td>74</td>
                        <td>4</td>
                        <td>1</td>
                        <td>20</td>
                        <td>16</td>
                        <td>4</td>
                        <td>1</td> -->
                        <td>14150000</td>

                    </tr>


                    <tr>
                        <th>Rajori Garder</th>
                        <!-- <td>453</td>
                        <td>45</td>
                        <td>480</td>
                        <td>193</td>
                        <td>191</td>
                        <td>11</td>
                        <td>0</td>
                        <td>13</td>
                        <td>10</td>
                        <td>3</td>
                        <td>4</td> -->
                        <td>46700000</td>

                    </tr>

                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>
                        <!-- <th>1943</th>
                        <th>184</th>
                        <th>1759</th>
                        <th>807</th>
                        <th>688</th>
                        <th>22</th>
                        <th>1</th>
                        <th>241</th>
                        <th>154</th>
                        <th>87</th>
                        <th>33</th> -->
                        <th>127200000</th>
                        <th>127200000</th>
                        <th>101016817</th>
                        <th>355416817</th>
                        <th>131690000</th>
                        <th>223726817</th>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <h3 style="color:red">East MCD</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="pie-heading">
                <h5>Permission Summary</h5><span>Tot. Sites: 779</span>
            </div>
            <ngx-charts-pie-chart [view]=[600,300] [scheme]="colorScheme" [results]="eastMCDData" [gradient]="gradient"
                (select)="OnSelectPieChart2($event)" [legend]="true" [legendPosition]="legendPosition"
                [labels]="showLabels" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
        <div class="col-md-6">
            <h5> Financial Summary</h5>
            <ngx-charts-bar-vertical [view]=[600,300] [scheme]="colorScheme" [results]="financialData3"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel1" [yAxisLabel]="'Fund'">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" [hidden]="isEastMCDTable">
        <div class="col-md-12">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                    <tr class="table_last_row" style="text-align: center; background:lavender;">
                        <th colspan="12">Permission Summary</th>
                        <!-- <th colspan="9">Financial Summary</th> -->
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <th scope="col">Total Sites</th>
                        <th scope="col">Dismantled</th>
                        <th scope="col">Active Sites</th>
                        <th scope="col">Old Permission</th>
                        <th scope="col">Fresh Permission</th>
                        <th scope="col">Old & Fresh Permission</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Permission Pending</th>
                        <th scope="col">Pole Sites</th>
                        <th scope="col">Net Permission</th>
                        <th scope="col">Old G8 Pending</th>
                        <!-- <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Shahdara North</th>
                        <td>288</td>
                        <td>12</td>
                        <td>276</td>
                        <td>194</td>
                        <td>22</td>
                        <td>1</td>
                        <td>0</td>
                        <td>59</td>
                        <td>0</td>
                        <td>59</td>
                        <td>7</td>
                        <!-- <td rowspan="2" style="vertical-align: middle;">39625000</td>
                        <td rowspan="2" style="vertical-align: middle;">39625000</td>
                        <td rowspan="2" style="vertical-align: middle;">31468486</td>
                        <td rowspan="2" style="vertical-align: middle;">110718486</td>
                        <td>0</td>
                        <td rowspan="2" style="vertical-align: middle;">102828486</td> -->

                    </tr>
                    <tr>
                        <th>Shahdara South</th>
                        <td>491</td>
                        <td>19</td>
                        <td>472</td>
                        <td>385</td>
                        <td>76</td>
                        <td>1</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>2</td>
                        <!-- <td>7890000</td> -->


                    </tr>

                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>
                        <th>779</th>
                        <th>31</th>
                        <th>748</th>
                        <th>579</th>
                        <th>98</th>
                        <th>2</th>
                        <th>0</th>
                        <th>69</th>
                        <th>0</th>
                        <th>69</th>
                        <th>9</th>
                        <!-- <th>39625000</th>
                        <th>39625000</th>
                        <th>31468486</th>
                        <th>110718486</th>
                        <th>7890000</th>
                        <th>102828486</th> -->
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" [hidden]="isEastMCDTable">
        <div class="col-md-12">
            <table class="table table-striped table_last_row_2" style="text-align: center;">
                <thead>
                    <tr class="" style="text-align: center; background:lavender;">
                        <!-- <th colspan="9">Permission Summary</th> -->
                        <th colspan="7">Financial Summary</th>
                    </tr>

                    <tr class="table_last_row">
                        <th scope="col">Zone</th>
                        <!-- <th scope="col">Total Sites</th>
                        <th scope="col">Dismantled</th>
                        <th scope="col">Active Sites</th>
                        <th scope="col">Old Permission</th>
                        <th scope="col">Fresh Permission</th>
                        <th scope="col">Old & Fresh Permission</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Permission Pending</th>
                        <th scope="col">Pole Sites</th>
                        <th scope="col">Net Permission</th>
                        <th scope="col">Old G8 Pending</th> -->
                        <th scope="col">Amount FD</th>
                        <th scope="col">Amount DD</th>
                        <th scope="col">Amount Intrest</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Amount Utilized</th>
                        <th scope="col">Balance Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Shahdara North</th>
                        <!-- <td>288</td>
                        <td>12</td>
                        <td>276</td>
                        <td>194</td>
                        <td>22</td>
                        <td>1</td>
                        <td>0</td>
                        <td>59</td>
                        <td>0</td>
                        <td>59</td>
                        <td>7</td> -->
                        <td rowspan="2" style="vertical-align: middle;">39625000</td>
                        <td rowspan="2" style="vertical-align: middle;">39625000</td>
                        <td rowspan="2" style="vertical-align: middle;">31468486</td>
                        <td rowspan="2" style="vertical-align: middle;">110718486</td>
                        <td>0</td>
                        <td rowspan="2" style="vertical-align: middle;">102828486</td>

                    </tr>
                    <tr>
                        <th>Shahdara South</th>
                        <!-- <td>491</td>
                        <td>19</td>
                        <td>472</td>
                        <td>385</td>
                        <td>76</td>
                        <td>1</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>2</td> -->
                        <td>7890000</td>


                    </tr>

                    <tr class="table_last_row" style="background: lavender;">
                        <th>Total</th>
                        <!-- <th>779</th>
                        <th>31</th>
                        <th>748</th>
                        <th>579</th>
                        <th>98</th>
                        <th>2</th>
                        <th>0</th>
                        <th>69</th>
                        <th>0</th>
                        <th>69</th>
                        <th>9</th> -->
                        <th>39625000</th>
                        <th>39625000</th>
                        <th>31468486</th>
                        <th>110718486</th>
                        <th>7890000</th>
                        <th>102828486</th>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>