.pie-heading {
    display: flex;
}

.pie-heading span {
    margin: 5px;
    background: goldenrod;
    padding: 5px;
    margin-left: 30px;
}

a {
    color: black;
}

.table_last_row th {
    border: 1px solid black;
}

.table_last_row_2 th {
    border: 1px solid black;
}

.table_last_row_2 tr td {
    border: 1px solid black;
}