.inner {
    color: white;
}

.myCustomModalClass .modal-dialog {
    max-width: fit-content
}

.projected-permission-label {
    margin: auto;
    padding: 6px;
    color: aliceblue;
    font-family: 'Ionicons';
    font-weight: 600;
}

/* .roundedOne */

.roundedOne {
    /* width: 28px; */
    height: 28px;
    position: relative;
    /* margin: 20px auto; */
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}

.roundedOne label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    display: inline-flex;
}

.roundedOne span {
    margin-left: 20px;
}

.roundedOne label::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: green;
    background: linear-gradient(top, green 0%, green 100%);
    opacity: 0;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.roundedOne label:hover::after {
    opacity: 0.3;
}

.roundedOne input[type=checkbox] {
    /* visibility: hidden; */
}

/* .roundedOne input[type=checkbox]:checked::after {
    opacity: 1;
} */

.roundedOne input {
margin: 3px;
}