<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>7185</h3>

                <p>Total Sites</p>
            </div>
            <div class="icon">
                <!-- <i class="feather-server"></i> -->
            </div>
            <!-- <a routerLink="site" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>4950<sup style="font-size: 20px"></sup></h3>

                <p>GBM</p>
            </div>
            <div class="icon">
                <!-- <i class="feather-file-text"></i> -->
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>2210</h3>

                <p>RPT</p>
            </div>
            <div class="icon">
                <!-- <i class="feather-layers"></i> -->
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>125</h3>

                <p>COW</p>
            </div>
            <div class="icon">
                <!-- <i class="ion ion-pie-graph"></i> -->
            </div>
            <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Total Sites (MCD Wise)</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showDataLabel]="true" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>New Built (Permission Applied)</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme2" [results]="multi2" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showDataLabel]="true" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" (select)="onSelect(modalData,$event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
</div>
<!-- <button class="btn btn-danger" (click)="triggerModal(modalData)">Open Modal</button> -->

<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">MCD Wise Permission Status</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button> -->
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Indus Id</th>
                    <th scope="col">Tower Type</th>
                    <th scope="col">Address</th>
                    <th scope="col">MCD</th>
                    <th scope="col">Zone</th>
                    <th scope="col">File Submission Date</th>
                    <th scope="col">Permission Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ele of rendringData; let i = index;">
                    <th scope="row">{{ele.indus_id | uppercase}}</th>
                    <td>{{towerType}}</td>
                    <td>{{ele.address | titlecase}}</td>
                    <td>{{mcd}}</td>
                    <td>{{ele.zone | titlecase}}</td>
                    <td>{{ele.file_submission_date }}</td>
                    <td>{{ele.permission_status | titlecase}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>



<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="display: inline-table;">
            <h2>Projected Requirements
            </h2>
        </div>
        <div class="col-md-4" style="display: flex;">
            <div class="projected-permission-label" style="background-color: #5AA454;">GBM</div>
            <div class="projected-permission-label" style="background-color: #A10A28;">RTP</div>
            <div class="projected-permission-label" style="background-color: #C7B42C;">COW</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>(North MCD)</h4>
            <div class="row col-md-12">
                <ngx-charts-bar-horizontal-stacked [scheme]="colorScheme3" [results]="overViewData1"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                    [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
                </ngx-charts-bar-horizontal-stacked>
            </div>
        </div>
        <div class="col-md-4">
            <h4>(South MCD)</h4>
            <div class="row col-md-12">

                <ngx-charts-bar-horizontal-stacked [scheme]="colorScheme3" [results]="overViewData2"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                    [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
                </ngx-charts-bar-horizontal-stacked>
            </div>
        </div>
        <div class="col-md-4">
            <h4>(East MCD)</h4>
            <div class="row col-md-12">

                <ngx-charts-bar-horizontal-stacked [scheme]="colorScheme3" [results]="overViewData3"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                    [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
                </ngx-charts-bar-horizontal-stacked>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <h3>Documents Required</h3>

    <div class="row">
        <div class="col-md-4" style="padding-right: 130px;">
            <h4 style="color: green;">GBM:</h4>
            <div class="checkbox roundedOne">
                <label for="application"><input type="checkbox" value="" id="application" name="check"
                        checked><span>Application</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="agreement"><input type="checkbox" value="" id="agreement" name="check"
                        checked><span>Agreement</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="ssc"><input type="checkbox" value="" id="ssc" name="check"
                        checked><span>SSC</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="noc"><input type="checkbox" value="" id="noc" name="check"
                        checked><span>NOC</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="site_photo"><input type="checkbox" value="" id="site_photo" name="check"
                        checked><span>Site_Photo</span></label>
            </div>
            <div>
                <button class="btn btn-info" style="width: -webkit-fill-available;">Issue PO</button>
            </div>
        </div>

        <div class="col-md-4" style="padding-right: 130px;">
            <h4 style="color: red;">RTP:</h4>
            <div class="checkbox roundedOne">
                <label for="application1"><input type="checkbox" value="" id="application1" name="check"
                        checked><span>Application</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="agreement1"><input type="checkbox" value="" id="agreement1" name="check"
                        checked><span>Agreement</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="ssc1"><input type="checkbox" value="" id="ssc1" name="check"
                        checked><span>SSC</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="noc1"><input type="checkbox" value="" id="noc1" name="check"
                        checked><span>NOC</span></label>
            </div>
            <div class="checkbox roundedOne">
                <label for="site_photo1"><input type="checkbox" value="" id="site_photo1" name="check"
                        checked><span>Site_Photo</span></label>
            </div>
            <div>
                <button class="btn btn-info" style="width: -webkit-fill-available;" >Issue PO</button>
            </div>
        </div>

        <div class="col-md-4" style="padding-right: 130px;">
            <h4 style="color: rgb(85, 85, 10);">COW:</h4>
            <div class="checkbox roundedOne">
                <label for="application2"><input type="checkbox" value="" id="application2" name="check"
                        checked><span>Application</span></label>
            </div>

            <div class="checkbox roundedOne">
                <label for="ssc2"><input type="checkbox" value="" id="ssc2" name="check"
                        checked><span>SSC</span></label>
            </div>

            <div class="checkbox roundedOne">
                <label for="site_photo2"><input type="checkbox" value="" id="site_photo2" name="check"
                        checked><span>Site_Photo</span></label>
            </div>
            <div>
                <button class="btn btn-info" style="width: -webkit-fill-available;" disabled>Issue PO</button>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="display: inline-table;">
            <h2>PERMISSION RENEWAL
            </h2>
        </div>
        <div class="col-md-4" style="display: flex;">
            <div class="projected-permission-label" style="background-color: #5AA454;">GBM</div>
            <div class="projected-permission-label" style="background-color: #A10A28;">RTP</div>
            <!-- <div class="projected-permission-label" style="background-color: #C7B42C;">COW</div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>(North MCD)</h4>
            <div class="row col-md-12">
                <ngx-charts-bar-horizontal-stacked [scheme]="colorScheme3" [results]="overViewData4"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                    [showXAxisLabel]="showXAxisLabel" [showDataLabel]=true [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
                </ngx-charts-bar-horizontal-stacked>
            </div>
        </div>
    </div>
</div>