<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h3>MCD Wise Summary</h3>
            <ngx-charts-bar-vertical-2d [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                [showDataLabel]="true" [legendTitle]="legendTitle" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-6">
            <h3>Partner Summary (JSB)</h3>
            <div class="pie-chart">
                <ngx-charts-pie-chart [scheme]="colorScheme3" [results]="single2" [gradient]="gradient"
                    [legend]="showLegend2" [legendPosition]="legendPosition" [labels]="showLabels2"
                    [doughnut]="isDoughnut">
                </ngx-charts-pie-chart>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Partner Summary (PIYU)</h3>
            <div class="pie-chart">
                <ngx-charts-pie-chart [scheme]="colorScheme4" [results]="single3" [gradient]="gradient"
                    [legend]="showLegend3" [legendPosition]="legendPosition1" [labels]="showLabels3"
                    [doughnut]="isDoughnut" (select)="onSelect($event)" (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3> Permission Recived Summary (JSB)</h3>
            <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="permissionRecivedSummary"
                [gradient]="gradient5" [xAxis]="showXAxis5" [yAxis]="showYAxis5" [legend]="showLegend5"
                [showXAxisLabel]="showXAxisLabel5" [showYAxisLabel]="showYAxisLabel5" [xAxisLabel]="xAxisLabel5"
                [yAxisLabel]="yAxisLabel5">
            </ngx-charts-bar-horizontal>

        </div>
        <div class="col-md-6">
            <h3> Permission Recived Summary (PIYU)</h3>
            <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="permissionRecivedSummary2"
                [gradient]="gradient" [xAxis]="showXAxis5" [yAxis]="showYAxis5" [legend]="showLegend5"
                [showXAxisLabel]="showXAxisLabel5" [showYAxisLabel]="showYAxisLabel5" [xAxisLabel]="xAxisLabel5"
                [yAxisLabel]="yAxisLabel5">
            </ngx-charts-bar-horizontal>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3> Permission Pending Summary (JSB)</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="financialData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2" [yAxisLabel]="yAxisLabel2">
            </ngx-charts-bar-vertical>
        </div>
        <div class="col-md-6">
            <h3>Days Pending (JSB)</h3>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="overViewData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1">
            </ngx-charts-bar-vertical>
        </div>

    </div>
</div>